@import url('https:fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
p {
    font-weight: 300;
    color: #111;
}
body {
    min-height: 1000px;
}
.banner {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(https://scontent.faqp2-1.fna.fbcdn.net/v/t1.0-9/70727929_669612670215012_4269640161618296832_o.jpg?_nc_cat=107&ccb=1-3&_nc_sid=e3f864&_nc_eui2=AeHHNsqIcfVjFIi8hJFMQLdHb3sXuxgzxuxvexe7GDPG7D-MwlzQ7RNsGBTVoXbenTqSUe7HPR08eC1NYUdiPtU0&_nc_ohc=MoaXbb7wNn8AX-n0ap6&_nc_ht=scontent.faqp2-1.fna&oh=a8aeb63643312f5e1c99529287236a61&oe=607F90B9);
    background-size: cover;
}
.banner .content {
    max-width: 900px;
    text-align: center;
}
.banner .content h2 {
    font-size: 5em;
    color: #fff;
}
.banner .content p {
    font-size: 1em;
    color: #fff;
}
.button {
    font-size: 1em;
    color: #fff;
    background: #ff0157;
    display: inline-block;
    padding: 10px 30px;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
}
.button:hover {
    letter-spacing: 6px;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 10000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}
header.sticky {
    background: #fff;
    padding: 40px 100px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}
header .logo {
    color: #fff;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
}
header.sticky .logo {
    color: #111;
}
header .navigation {
    position: relative;
    display: flex;
}
header .navigation li {
    list-style: none;
    margin-left: 30px;
}
header .navigation li a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}
header.sticky .navigation li a {
    color: #111;
}
header .navigation li a:hover {
    color: #ff0157;
}

section {
    padding: 100px;
}
.row {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.row .col50 {
    position: relative;
    width: 48%;
}
.titleText {
    color: #111;
    font-size: 2em;
    font-weight: 300;
}
.titleText span {
    color: #ff0157;
    font-weight: 700;
    font-size: 1.5em;
}
.row .col50 .imgBx {
    position: relative;
    width: 100%;
    /* min-height: 300px; */
    height: 100%;
}
.row .col50 .imgBx img {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
